body, * {
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin: 0;
}

h1{
    margin-top: 100px;
    text-align: center;
    font-size:larger;
    padding-bottom: 100px;
}

.ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }

main{
    /* text-align: center; */
    font-size: larger;
}

#login{
  padding: 10px;
  margin-bottom: 10px;
}

input{
  width:400px;
  height: 50px;
  font-size: 30px;
  padding-left: 5px;
}

input:hover{
  background-color: #E1E8F2;
}

#enter{
  padding: 20px;
}

#click_to_enter{
  font-size: 30px;
  text-align: justify;
  margin-top: 10px;
  padding-top:10px;
  padding-bottom: 7px;
  background-color: #5869DA;
}

#click_to_enter:hover{
  background-color: #7987E2;
} 

#homepage_body{
  background-image: url("avatars/IcHF2k0.jpg");
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding-bottom: 70%;
  /* display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10fr 10fr 1fr;
  grid-template-areas: 
  ". msg msg notes notes . ."
  ". photos photos music music . ."
  "msg2 notes2 photos2 music2 settings home user";
  grid-gap: 10px; */
}

#message_click{
  grid-area: msg;
}

#notepad_click{
  grid-area: notes;
}

#photo_click{
  grid-area: photos;
}

#music_click{
  grid-area: music;
}

#message_click2{
  grid-area: msg2;
}

#notepad_click2{
  grid-area: notes2;
}

#photo_click2{
  grid-area: photos2;
}

#music_click2{
  grid-area: music2;
}

#home_click2{
  grid-area: home;
}

#popup{
  grid-area: settings;
}

#laptop_name{
  border: 1px white solid;
  text-align: right;
  background-color:#7987E2;
  grid-area: user;
  padding: 5px;
  font-size: 1vw;
  text-align: center;
  width:200px;
  font-family: sans-serif;
  float:right;
  /* padding-top: 50px; */
}

#filler{
  border: 1px white transparent;
  grid-area: "filler";
}

#apps{
  padding: 0px;
}

#message_click, #notepad_click, #photo_click, #music_click, #wallpaper_click, #home_click, #message_click2, #notepad_click2, #photo_click2, #music_click2, #home_click2{
  color: white;
  background-color: transparent;
  font-size: 30px;
  border: transparent;
  border: 1px solid white;
}

#message_click:hover, #notepad_click:hover, #photo_click:hover, #minigame_click:hover, #music_click:hover, #wallpaper_click:hover, #home_click:hover{
  font-weight: bold;
}

#wallpaper_click:hover, #home_click:hover, #message_click2:hover, #notepad_click2:hover, #photo_click2:hover, #music_click2:hover, #home_click2:hover{
  background-color: blue;
}

#minigame_click{
  color: black;
}

#notepad{
  background-color: yellow;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#nav_bar{
  border: black 3px solid;
  color: black;
  background-color: #585481;
  display:flex;
  flex-grow: 1;
  width: auto;
  justify-content: center;
}

#wallpaper_click{
  text-align: center;
  width: 200px;
}

/* Popup container */
.popup {
  position: relative;
  display:flex;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -80px;
  width: 100px;
  height: 50px;
  position:fixed; 
  top: calc(50% - 25px);
  left: calc(50% - 50px);
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border: black solid 1px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  position: relative;
  margin: 0 auto;
  top: 25%;
}

#wallpaper_popup{
  border: 1px solid black;
  text-align: center;
}

#minigame{
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

#character{
  width: 20px;
  height: 50px;
  background-color:#5869DA;
  position: relative;
  top: 150px; 
}

@keyframes jump{
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

.animate{
  animation: jump 10ms linear;
}

#block{
  width: 20px;
  height: 20px;
  background-color: black;
  position: relative;
  top: 130px; 
  left: 480px;
  animation: block 1s infinite linear;
}

@keyframes block{
  0%{left: 500px} 
  100%{left: -20px}
}

#messages_page{
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas: 
  "h h"
  "n1 m"
  "n2 m"
  "n3 m"
  "n4 m"
  "n5 m";
}

#message_header{
  grid-area: h;
}

#name1{
  grid-area: n1;
}

#name2{
  grid-area: n2;
}
#name3{
  grid-area: n3;
}

#name4{
  grid-area: n4;
}

#name5{
  grid-area: n5;
}

#current_message{
  grid-area: m;
}

#list_of_messages{
  font-family: 'Inter', sans-serif;;
}

#current_message{
  display:block;
}

#name1, #name2, #name3, #name4, #name5{
  font-family: 'Inter', sans-serif;
  border: 1px solid gray;
}

#close_messages_button{
  border-radius: 50%;
  background-color: lightcoral;
  height: 30px;
  width: 30px;
}

#close_messages_button:hover{
  background-color: red;
}

#logout_button{
  border-radius: 0%;
  padding: 5px;
  width: 100px;
  background-color: darkgray;
  grid-area: logout;
  float:right;
}

#logout_button:hover{
  background-color: gray;
}

#photos {
  display: grid;
  grid-template-columns: auto auto auto;
  width: auto;
  border: 1px black solid;
}